@font-face {
  font-family: vazir;
  src: url(/public/assets/vazir-font/Vazir.eot);
  src: url(/public/assets/vazir-font/Vazir.woff2);
  src: url(/public/assets/vazir-font/Vazir.woff);
  src: url(/public/assets/vazir-font/Vazir.ttf);
}
body,
* {
  font-family: vazir !important;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
.MuiSvgIcon-root {
  transform: scaleX(-1);
}
.dragged {
  z-index: 10000;
  background-color: rgb(236, 92, 92) !important;
  opacity: 0.6 !important;
}
.placeholder {
  background-color: rgb(168, 45, 45) !important;
}

@import "react-toastify/dist/ReactToastify.css";
